"*":
  "atom-beautify":
    general:
      _analyticsUserId: "54bd2abe-5ef5-41bb-ae3c-c9c00d9de95e"
    java: {}
    php: {}
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    disabledPackages: [
      "linter-jscs"
      "linter-jshint"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    fontFamily: "Roboto Mono"
    fontSize: 16
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
  "exception-reporting":
    userId: "e86caf1f-c4a5-1496-cc23-e0de5986bc82"
  fonts:
    fontFamily: "Ubuntu Mono"
  linter:
    errorPanelHeight: 151
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "~/.eslintrc"
    globalNodePath: "/usr/local"
    lintHtmlFiles: true
    useGlobalEslint: true
  "linter-javac": {}
  "linter-jscs": {}
  "markdown-preview-plus":
    useGitHubStyle: true
  "php-debug":
    currentPanelHeight: "318px"
    currentPanelMode: "bottom"
    currentPanelWidth: "262px"
  "platformio-ide-terminal":
    style:
      theme: "solarized-dark"
    toggles: {}
  "remote-edit":
    clearFileList: true
    showHiddenFiles: true
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    style:
      theme: "novel"
  "travis-ci-status":
    useTravisCiPro: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
"php-debug":
  ServerPort: 9000
